<div class="container border">
  <h1 class="col-6"><%= @flat.name %></h1>

    <p class="col-6"><i class="fas fa-user-friends"></i><%= @flat.number_of_guests %> <i class="fas fa-euro-sign"></i><%= @flat.price_per_night %></p>
  <p class="col-6"><%= @flat.description %></p>

  <%= link_to "Home", flats_path, class: "btn btn-sm btn-dark" %>
</div>
